.wrap {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: rgba(241, 241, 241, 0.733);
}
.wrap img {
  width: 60px;
  height: 24px;
}
.wrap div {
  width: 400px;
  border-top: 1px solid #cccccc;
  display: flex;
  justify-content: space-evenly;
}
.wrap div > a {
  color: #8d8888;
  margin-top: 5px;
}
